@import "tailwindcss";

@plugin "daisyui" {
  themes: caramellatte --default;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: default;
    outline: none !important;
  }

  :root { /* :root = html */
    overflow-y: scroll;
    scrollbar-color: var(--color-accent) var(--color-base-200) !important;
  }

  html {
    font-size: 16px;
    scroll-behavior: smooth;
    line-height: 1.5;
  }

  body {
    background-color: var(--color-background);
    min-height: 100vh;
  }
}
