<footer class="footer footer-center p-10 bg-base-200 text-base-content mt-16 w-full">
  <aside>
    <p class="text-sm opacity-60">© 2025 Smakushi. Wszelkie prawa zastrzeżone.</p>
  </aside>
</footer>
